
@{
    ViewData["Title"] = "AboutUs";
}

<div class="SectionHeader">
    <h2>Who Are We?</h2>
    <a href="~/Home/AboutUS?view=history" style="padding-right: 10px;">Our History and Mission</a><a href="~/Home/AboutUs?view=staff">CMHC Staff & Volunteers</a>
</div>

@{ 
    if(ViewData["ActiveView"].ToString().ToLower().Equals("volunteers"))
    {
        Html.Encode("This is our staff and volunteers ...");
    }
    else
    {
        Html.Encode("This is our story ...");
    }
}