
@{
    ViewData["Title"] = "ContactUs";
}
<br/>
<br/>
<br/>
<h2>ContactUs</h2>
<br/>
<a href="https://www.facebook.com/ColumbusMentalHealthCommunity/">Chat with us on Facebook</a><br/>
<br/>
Text us at (614)881-0681 via Google Voice.<br/>
<br/>
Email: columbusmentalhealthcommunity@gmail.com