
@{
    ViewData["Title"] = "CrisisHelp";
}
<br />
<br />
<br />
<h2>CrisisHelp</h2>
<div class="content">
    <p>
        If in a crisis, please go to the closest ER. If you do not have someone who can take you, please dial 911 and let them know what is going on.<br/>
        <br/>        
        In addition here are some local crisis help line numbers:<br/>
        <table style="background-color: #ccffcc; border-style: solid;">
            <tr>
                <th style="width:30%; border-style: solid;">Name</th>
                <th style="width:30%; border-style: solid;">Phone Number</th>
            </tr>
            <tr>
                <td style="border-style: solid;">Netcare Access</td>
                <td style="border-style: solid;">(614)276-2273</td>
            </tr>
            <tr>
                <td style="border-style: solid;">Columbus Suicide Hotline</td>
                <td style="border-style: solid;">Main: (614)221-5445; Senior: (614)294-3309</td>
            </tr>
            <tr>
                <td style="border-style: solid;">Crisis TEXT Line</td>
                <td style="border-style: solid;">Text HOME to 741741</td>
            </tr>
            <tr>
                <td style="border-style: solid;">National Suicide Prevention Lifeline</td>
                <td style="border-style: solid;">(800)273-8255</td>
            </tr>
            <tr>
                <td style="border-style: solid;">National Suicide Hotline</td>
                <td style="border-style: solid;">(800)784-2433</td>
            </tr>
            <tr>
                <td style="border-style: solid;">LGBT Suicide Hotline</td>
                <td style="border-style: solid;">(866)488-7386 or TEXT START to 678678</td>
            </tr>
            <tr>
                <td style="border-style: solid;">CHOICES Domestic Violence Crisis Line</td>
                <td style="border-style: solid;">(614)224-4663</td>
            </tr>
        </table>
    </p>
</div>