
@{
    ViewData["Title"] = "CrisisHelp";
}
<br />
<br />
<br />
<h2>CrisisHelp</h2>
<div class="content">
    <p>
        If in a crisis, please go to the closest ER. If you do not have someone who can take you, please dial 911 and let them know what is going on.
    </p>
</div>