@{
    ViewData["Title"] = "Discussion Board";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="blogContainer">
    <iframe style="width: 95%; min-height: 800px; height: 95%" src="https://cmhctestblog.blogspot.com/"></iframe>
</div>