@{
    ViewData["Title"] = "Help Us";
}
<br />
<br />
<br />
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Volunteer Opportunities", "HelpUs", "Home", new { activeView = "volunteer" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Advocacy", "HelpUs", "Home", new { activeView = "advocacy" })
</div>

<div class="content" style="padding:15px;">
    @Html.Raw(ViewData["Content"])
</div>