
@{
    ViewData["Title"] = "Mission and History";
}
@Html.ActionLink("Mission", "History", "Home", new { activeView = "mission" })      @Html.ActionLink("History", "History", "Home", new { activeView = "history" })
<div class="content">
    @Html.Raw(ViewData["Content"])
</div>