
@{
    ViewData["Title"] = "Mission and History";
}
<br/>
<br/>
<br/>
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Mission", "History", "Home", new { activeView = "Mission" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("History", "History", "Home", new { activeView = "History" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Staff & Volunteers", "History", "Home", new { activeView = "Staff" })
</div>
<div class="content" style="padding:15px;">
    @Html.Raw(ViewData["Content"])
</div>