
@{
    ViewData["Title"] = "Mission and History";
}
<br/>
<br/>
<br/>
<a style="border: solid; padding: 4px;">@Html.ActionLink("Mission", "History", "Home", new { activeView = "Mission" })</a>
<a style="border: solid; padding: 4px;">@Html.ActionLink("History", "History", "Home", new { activeView = "History" })</a>
<a style="border: solid; padding: 4px;">@Html.ActionLink("Staff & Volunteers", "History", "Home", new { activeView = "Staff" })</a>
<div class="content">
    @Html.Raw(ViewData["Content"])
</div>