@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="row">
    <img src="http://cmhc-staff-pictures.s3-website-us-east-1.amazonaws.com/cmhc_logo.jpg" alt="CMHC Logo" style="max-width: 25%;"/>    
</div>
<div class="row">
    @Html.Raw(ViewData["Content"])
</div>
