@{
    ViewData["Title"] = "Resources";
}
<br />
<br />
<br />
<div class="row">
    <div style="border: solid; padding: 4px; width: 10%; display: inline;">
        @Html.ActionLink("Local Resources", "Resources", "Home", new { activeView = "localResources" })
    </div>
    <div style="border: solid; padding: 4px; width: 10%; display: inline;">
        @Html.ActionLink("Online Resources", "Resources", "Home", new { activeView = "onlineResources" })
    </div>
</div>
<br/>
<div class="row">
    @Html.Raw(ViewData["Content"])
</div>
