@{
    ViewData["Title"] = "Resources";
}
<br />
<br />
<br />
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Local Resources", "Resources", "Home", new { activeView = "localResources" })
</div>
<div style="border: solid; padding: 4px; width: 10%; display: inline; background-color: #ccffcc;">
    @Html.ActionLink("Online Resources", "Resources", "Home", new { activeView = "onlineResources" })
</div>

<div class="row">
    @Html.Raw(ViewData["Content"])
</div>
