
@{
    ViewData["Title"] = "Our Staff & Volunteers";
}
<br/>
<br/>
<br/>
<h2>Our Staff</h2>
<div class="content">
    <table style="border: solid;">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Bio</th>
            <th></th>
        </tr>
        <tr>
            <td>Tara</td>
            <td>Co-Founder</td>
            <td>Some bio info, because that is always fun.</td>
            <td><img class="profile" src="~/images/smiley_logo.jpg" alt="Tara"/></td>
        </tr>
    </table>
</div>
<br/>
<h2>Our Volunteers</h2>
<div class="content">
    <table style="border: solid;">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Bio</th>
            <th></th>
        </tr>
        <tr>
            <td>Andrew Harbarger</td>
            <td>Website Developer</td>
            <td>Some bio info, because that is always fun.</td>
            <td><img class="profile" src="~/images/smiley_logo.jpg" alt="Tara" /></td>
        </tr>
    </table>
</div>