@{
    ViewData["Title"] = "Upcoming Events";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This section will call the WebAPI, which will call the Meetup API to get upcoming events for the group.</p>
