body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}

div {
    padding: 5px;
}

p {
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #ccffcc;
    padding: 1px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
